.logo {
  width: 50px;
  float: left;
  margin-right: 15px;
}

.form-center {
  max-width: 400px;
  margin: auto;
  margin-top: 10%;
}

.actions {
  padding: 10px 0;
}

.glyphicon-euro {
  font-size: 12px;
}

.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:50%;         
}

.float-right{
    float: right;
    margin: 5px;
}

.topmenu > li > a {
  padding: 16px 24px;
}

.footer {
  border-top: 1px solid #CCCCCC;
  margin-top: 15px;
  padding-top: 15px;
  height: 90px;
}

.hand {
  cursor:pointer;
  cursor:hand;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #000;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
}

.navbar-wks {
  padding-top: 2px;
}

.badge-perm {
  padding-left:30px;
  padding-right:30px;
}

.drag-area {
  width: 100%;
  height: 500px;
  line-height: 500px;
  background-color: #F9F9F9;
  vertical-align: middle;
  text-align: center;
  position: relative;
  color: #999999;
}

.drag-area .badge {
  position: absolute;
}

.tag-box {
  height:20px;
}